n8n-workflows/WF08_user_onboarding.json
{
  "name": "WF08 — User Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf08-guardline-team-member-onboarding-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf08-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wf08-guardline-team-member-onboarding-v1"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "team_members",
        "fieldsToSend": "defineBelow",
        "fieldValues": {
          "values": [
            { "fieldName": "name", "fieldValue": "={{ $json.name }}" },
            { "fieldName": "email", "fieldValue": "={{ $json.email }}" },
            { "fieldName": "whatsapp", "fieldValue": "={{ $json.whatsapp }}" },
            { "fieldName": "linkedin_url", "fieldValue": "={{ $json.linkedin_url }}" },
            { "fieldName": "calendar_url", "fieldValue": "={{ $json.calendar_url }}" },
            { "fieldName": "role", "fieldValue": "={{ $json.role || 'sdr' }}" },
            { "fieldName": "specialties", "fieldValue": "={{ $json.specialties }}" },
            { "fieldName": "territories", "fieldValue": "={{ $json.territories }}" },
            { "fieldName": "hubspot_owner_id", "fieldValue": "={{ $json.hubspot_owner_id }}" }
          ]
        },
        "options": {}
      },
      "id": "wf08-save-member",
      "name": "Save to Supabase team_members",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "routing_rules",
        "returnAll": true,
        "filterType": "string",
        "filterString": "active=eq.true",
        "options": {}
      },
      "id": "wf08-check-rules",
      "name": "Check Existing Routing Rules",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [750, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if routing rules already cover the member's specialties\nconst member = $('Save to Supabase team_members').first().json;\nconst existingRules = $('Check Existing Routing Rules').all().map(r => r.json);\n\nconst coveredProducts = existingRules\n  .filter(r => r.conditions && r.conditions.product)\n  .map(r => r.conditions.product);\n\nconst uncoveredSpecialties = (member.specialties || []).filter(\n  s => !coveredProducts.includes(s)\n);\n\nif (uncoveredSpecialties.length === 0) {\n  return [{ json: { needs_rules: false, member } }];\n}\n\nconst newRules = uncoveredSpecialties.map(specialty => ({\n  name: `Auto: ${specialty} → ${member.name}`,\n  priority: 20,\n  conditions: {\n    product: specialty,\n    territories: member.territories,\n  },\n  assign_to: [member.id],\n  round_robin: false,\n  active: true,\n}));\n\nreturn newRules.map(rule => ({ json: { needs_rules: true, rule, member } }));"
      },
      "id": "wf08-check-need-rules",
      "name": "Check if Rules Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-needs-rules",
              "leftValue": "={{ $json.needs_rules }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf08-if-needs-rules",
      "name": "IF Needs New Rules",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "routing_rules",
        "fieldsToSend": "defineBelow",
        "fieldValues": {
          "values": [
            { "fieldName": "name", "fieldValue": "={{ $json.rule.name }}" },
            { "fieldName": "priority", "fieldValue": "={{ $json.rule.priority }}" },
            { "fieldName": "conditions", "fieldValue": "={{ JSON.stringify($json.rule.conditions) }}" },
            { "fieldName": "assign_to", "fieldValue": "={{ $json.rule.assign_to }}" },
            { "fieldName": "round_robin", "fieldValue": "={{ $json.rule.round_robin }}" },
            { "fieldName": "active", "fieldValue": "={{ $json.rule.active }}" }
          ]
        },
        "options": {}
      },
      "id": "wf08-create-rules",
      "name": "Create Routing Rules",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1500, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#guardline-team\",\n  \"text\": \"🆕 *Novo membro do time:* {{ $('Save to Supabase team_members').first().json.name }} ({{ $('Save to Supabase team_members').first().json.role?.toUpperCase() || 'SDR' }})\\n• Especialidades: {{ ($('Save to Supabase team_members').first().json.specialties || []).join(', ') }}\\n• Territórios: {{ ($('Save to Supabase team_members').first().json.territories || []).join(', ') }}\\n• Email: {{ $('Save to Supabase team_members').first().json.email }}\"\n}",
        "options": {}
      },
      "id": "wf08-slack-notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 500],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Guardline"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"member_id\": \"{{ $('Save to Supabase team_members').first().json.id }}\",\n  \"name\": \"{{ $('Save to Supabase team_members').first().json.name }}\",\n  \"status\": \"onboarded\"\n}",
        "options": {}
      },
      "id": "wf08-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Save to Supabase team_members", "type": "main", "index": 0 }]
      ]
    },
    "Save to Supabase team_members": {
      "main": [
        [
          { "node": "Check Existing Routing Rules", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Existing Routing Rules": {
      "main": [
        [{ "node": "Check if Rules Needed", "type": "main", "index": 0 }]
      ]
    },
    "Check if Rules Needed": {
      "main": [
        [{ "node": "IF Needs New Rules", "type": "main", "index": 0 }]
      ]
    },
    "IF Needs New Rules": {
      "main": [
        [{ "node": "Create Routing Rules", "type": "main", "index": 0 }],
        [{ "node": "Notify Slack", "type": "main", "index": 0 }]
      ]
    },
    "Create Routing Rules": {
      "main": [
        [{ "node": "Notify Slack", "type": "main", "index": 0 }]
      ]
    },
    "Notify Slack": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "guardline" },
    { "name": "team" },
    { "name": "onboarding" }
  ]
}
