n8n-workflows/WF13_handoff_engine.json
{
  "name": "WF13 — Handoff Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf13-guardline-handoff-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf13-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "wf13-guardline-handoff-v1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.lead_id }}",
        "options": {}
      },
      "id": "wf13-get-lead",
      "name": "Get Lead Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "team_members",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Webhook').first().json.from_member_id }}",
        "options": {}
      },
      "id": "wf13-get-from",
      "name": "Get Source Member",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 500],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "team_members",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Webhook').first().json.to_member_id }}",
        "options": {}
      },
      "id": "wf13-get-to",
      "name": "Get Target Member",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 700],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "assistant_interactions",
        "returnAll": false,
        "limit": 20,
        "filterType": "string",
        "filterString": "=lead_id=eq.{{ $('Webhook').first().json.lead_id }}&order=sent_at.desc",
        "options": {}
      },
      "id": "wf13-get-interactions",
      "name": "Get Lead Interactions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 900],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "meetings",
        "returnAll": false,
        "limit": 5,
        "filterType": "string",
        "filterString": "=lead_id=eq.{{ $('Webhook').first().json.lead_id }}&order=meeting_date.desc",
        "options": {}
      },
      "id": "wf13-get-meetings",
      "name": "Get Lead Meetings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 1100],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Get Lead Data').first().json;\nconst fromMember = $('Get Source Member').first().json;\nconst toMember = $('Get Target Member').first().json;\nconst interactions = $('Get Lead Interactions').all().map(i => i.json);\nconst meetings = $('Get Lead Meetings').all().map(m => m.json);\nconst reason = $('Webhook').first().json.reason;\n\nconst prompt = `Você é o sistema de handoff do Guardline Revenue OS.\nGere um briefing completo para o novo responsável pelo lead.\n\nCONTEXTO DO LEAD:\n- Empresa: ${lead.company_name}\n- Contato: ${lead.contact_name} (${lead.contact_email})\n- País: ${lead.company_country}\n- Solução: ${lead.primary_solution}\n- Score: ${lead.lead_score}/100\n- Status: ${lead.status || lead.pipeline_stage}\n\nTRANSFERÊNCIA:\n- De: ${fromMember.name} (${fromMember.role})\n- Para: ${toMember.name} (${toMember.role})\n- Motivo: ${reason}\n\nHISTÓRICO DE INTERAÇÕES (${interactions.length} total):\n${interactions.slice(0, 10).map(i =>\n  \\`[\\${i.sent_at}] \\${i.direction === 'outbound' ? 'Enviado' : 'Recebido'} via \\${i.channel}: \\${i.message_preview}\\`\n).join('\\n')}\n\nREUNIÕES (${meetings.length} total):\n${meetings.map(m =>\n  \\`[\\${m.meeting_date}] \\${m.status} — Signal: \\${m.deal_signal || 'N/A'} — \\${m.transcript_summary || 'Sem resumo'}\\`\n).join('\\n')}\n\nGere um briefing que o novo responsável possa ler em 2 minutos:\n\n{\n  \"executive_summary\": \"3 frases do essencial\",\n  \"what_worked\": [\"o que funcionou na abordagem\"],\n  \"what_didnt_work\": [\"o que não funcionou\"],\n  \"prospect_personality\": \"como é o prospect\",\n  \"current_objections\": [\"objeções pendentes\"],\n  \"agreed_next_steps\": [\"próximos passos já combinados\"],\n  \"recommended_first_action\": \"o que o novo responsável deve fazer HOJE\",\n  \"suggested_opening_message\": \"sugestão de primeira mensagem do novo responsável\"\n}`;\n\nreturn [{ json: { prompt, lead, fromMember, toMember, reason } }];"
      },
      "id": "wf13-build-prompt",
      "name": "Build Handoff Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "claude-sonnet-4-20250514",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "maxTokensToSample": 1200,
          "temperature": 0.3
        }
      },
      "id": "wf13-claude",
      "name": "Claude — Generate Briefing",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1100, 400],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic Guardline"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude briefing\nconst raw = $('Claude — Generate Briefing').first().json;\nlet briefing;\ntry {\n  const text = typeof raw === 'string' ? raw : (raw.text || raw.content || JSON.stringify(raw));\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  briefing = JSON.parse(jsonMatch ? jsonMatch[0] : text);\n} catch (e) {\n  briefing = {\n    executive_summary: 'Erro ao gerar briefing — revisar manualmente',\n    what_worked: [],\n    what_didnt_work: [],\n    prospect_personality: 'N/A',\n    current_objections: [],\n    agreed_next_steps: [],\n    recommended_first_action: 'Revisar histórico manualmente',\n    suggested_opening_message: ''\n  };\n}\n\nconst prev = $('Build Handoff Prompt').first().json;\nreturn [{ json: { briefing, ...prev } }];"
      },
      "id": "wf13-parse",
      "name": "Parse Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "routing_history",
        "fieldsToSend": "defineBelow",
        "fieldValues": {
          "values": [
            { "fieldName": "lead_id", "fieldValue": "={{ $json.lead.id || $json.lead.lead_id }}" },
            { "fieldName": "assigned_to", "fieldValue": "={{ $json.toMember.id }}" }
          ]
        },
        "options": {}
      },
      "id": "wf13-save-history",
      "name": "Save to routing_history",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1600, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Guardline"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Slack briefing for new owner\nconst d = $json;\nconst b = d.briefing;\n\nconst message = `🔄 *Lead transferido para você: ${d.lead.company_name}*\\n_De: ${d.fromMember.name} → Para: ${d.toMember.name}_\\n_Motivo: ${d.reason}_\\n\\n*Resumo:* ${b.executive_summary}\\n\\n*O que funcionou:*\\n${(b.what_worked || []).map(w => `✅ ${w}`).join('\\n')}\\n\\n*O que NÃO funcionou:*\\n${(b.what_didnt_work || []).map(w => `❌ ${w}`).join('\\n')}\\n\\n*Personalidade do prospect:* ${b.prospect_personality}\\n\\n*Objeções pendentes:*\\n${(b.current_objections || []).map(o => `⚠️ ${o}`).join('\\n')}\\n\\n*Próximos passos combinados:*\\n${(b.agreed_next_steps || []).map(s => `→ ${s}`).join('\\n')}\\n\\n*🎯 O que fazer HOJE:* ${b.recommended_first_action}\\n\\n*Sugestão de primeira mensagem:*\\n_${b.suggested_opening_message}_`;\n\nreturn [{ json: { message, to_member_name: d.toMember.name, from_member_name: d.fromMember.name } }];"
      },
      "id": "wf13-build-slack",
      "name": "Build Slack Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#guardline-sales\",\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "wf13-slack-new",
      "name": "Notify New Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 300],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Guardline"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#guardline-sales\",\n  \"text\": \"✅ *Lead transferido com sucesso:* {{ $('Parse Briefing').first().json.lead.company_name }}\\nDe: {{ $json.from_member_name }} → Para: {{ $json.to_member_name }}\"\n}",
        "options": {}
      },
      "id": "wf13-slack-old",
      "name": "Notify Previous Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 500],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack Guardline"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"lead\": \"{{ $('Parse Briefing').first().json.lead.company_name }}\",\n  \"from\": \"{{ $('Parse Briefing').first().json.fromMember.name }}\",\n  \"to\": \"{{ $('Parse Briefing').first().json.toMember.name }}\",\n  \"briefing\": {{ JSON.stringify($('Parse Briefing').first().json.briefing) }}\n}",
        "options": {}
      },
      "id": "wf13-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2150, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Get Lead Data", "type": "main", "index": 0 },
          { "node": "Get Source Member", "type": "main", "index": 0 },
          { "node": "Get Target Member", "type": "main", "index": 0 },
          { "node": "Get Lead Interactions", "type": "main", "index": 0 },
          { "node": "Get Lead Meetings", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Lead Data": {
      "main": [
        [{ "node": "Build Handoff Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Get Source Member": {
      "main": [
        [{ "node": "Build Handoff Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Get Target Member": {
      "main": [
        [{ "node": "Build Handoff Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Get Lead Interactions": {
      "main": [
        [{ "node": "Build Handoff Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Get Lead Meetings": {
      "main": [
        [{ "node": "Build Handoff Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Handoff Prompt": {
      "main": [
        [{ "node": "Claude — Generate Briefing", "type": "main", "index": 0 }]
      ]
    },
    "Claude — Generate Briefing": {
      "main": [
        [{ "node": "Parse Briefing", "type": "main", "index": 0 }]
      ]
    },
    "Parse Briefing": {
      "main": [
        [
          { "node": "Save to routing_history", "type": "main", "index": 0 },
          { "node": "Build Slack Briefing", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Slack Briefing": {
      "main": [
        [
          { "node": "Notify New Owner", "type": "main", "index": 0 },
          { "node": "Notify Previous Owner", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify New Owner": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Notify Previous Owner": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "guardline" },
    { "name": "handoff" },
    { "name": "transfer" }
  ]
}
